<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>	
	<header class="site-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					
					<a href="/blue/" class="site-header__logo">Aecre Grants</a>
				
				
					<ul class="site-header__nav hidden-xs">
						
							<li><a href="#apply">Apply</a></li>
						
							<li><a href="#sponsor">Sponsor</a></li>
						
							<li><a href="#contact">Contact</a></li>
						
					</ul><!-- /.site-header__nav -->
					
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</header><!-- /.site-header -->


		<div class="hero-subheader">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="align-container">
							<div class="align-inner">
								
								<h1 class="hero-subheader__title">Aecre Grants Scheme</h1>
							
								<h3 class="hero-subheader__desc">Aecre Grants are no-strings attached grants for any person with a project to improve our environment.</h3>
							
								<a href="#apply" class="btn btn--dark btn--rounded btn--w-icon btn--w-icon-left">
									ABOUT THE GRANT
								</a>
									
							</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.hero-subheader -->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="content">
							
							<h2 id="apply">Apply for a grant</h2>
							<p>Applications are accepted on a rolling basis. At least one £500 grant is awarded every three months, for a total of three grants, acording to the following schedule.</p>

							<p>
								<ul>
									<li>30th September 2018 - Applications now open</li>
									<li>31st December 2018</li>
									<li>31st March 2019</li>
								</ul>
							</p>

							<p>Additional grats may become available thanks to <a href="#sponsor">other sponsors</a>. If so, they'll be awarded according to the same schedule.</p>

							<h2 id="sponsor">Sponsor a grant</h2>
							<p>If you'd like to sponsor a grant, here's how it works:</p>

							<p>
								<ul>
									<li>You must sponser the full amount (£500)</li>
									<li>We can either select a receipient on your behalf, or share the applications with you. If you choose the latter, we will only share applications <i>after</i> receiving your sponsorship (to protect applicants' privacy)</li>
									<li>To keep grants running smoothly, We will ask that funds are disbursed through us. Your grant will be awarded according o the scheule above, along with the other recipients</li>
								</ul>
							</p>
							
							<h2 id="sponsor">FAQ</h2>
							<p>FAQ details</p>

						</div><!-- /.content -->
					</div><!-- /.col -->
					<div class="col-md-4 col-md-offset-1">
						<div class="sections-list-wrapper">
							<div class="sections-list js-sections js-affix js-scrollspy hidden-xs hidden-sm"></div><!-- /.sections-list -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.section -->
			
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					
						<a href="/blue/" class="site-footer__logo">Aecre</a>
					
					
						<hr>
						<p class="site-footer__copyright">Copyright &copy; 2018. - Aecre Ltd. <br>All rights reserved.</p>
					
				</div><!-- /.col -->
				
					<div class="col-sm-6 align-right">
						<ul class="social-list">
							
								<li>
									<a href="https://twitter.com/themejack" target="_blank" class="social-list__item social-list__item--twitter">
										Twitter
									</a>
								</li>
							
								<li>
									<a href="https://github.com/themejack" target="_blank" class="social-list__item social-list__item--github">
										Facebook
									</a>
								</li>

								<li>
									<a href="https://github.com/themejack" target="_blank" class="social-list__item social-list__item--github">
										Instagram
									</a>
								</li>
							
						</ul><!-- /.social-list -->
					</div><!-- /.col -->
				
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.site-footer -->

		</div><!-- /.js-footer-area -->
	</body>


</html>