<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>	
	<header class="site-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					
					<a href="/" class="site-header__logo">Aecre Grants</a>
				
				
					<ul class="site-header__nav hidden-xs">
						
							<li><a href="#apply">Apply</a></li>
						
							<li><a href="#sponsor">Sponsor</a></li>
						
							<li><a href="#faq">FAQ</a></li>
						
					</ul><!-- /.site-header__nav -->
					
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</header><!-- /.site-header -->


		<div class="hero-subheader">
			<div class="container">
				<div class="row">
					<div class="col-md">
						<div class="align-container">
							<div class="align-inner">
								
								<h1 class="hero-subheader__title">Aecre Grants Scheme</h1>
							
								<h3 class="hero-subheader__desc">Aecre Grants are no-strings attached grants for any person with a project to improve our environment.</h3>
							
								<a href="#apply" class="btn btn--dark btn--rounded btn--w-icon btn--w-icon-left">
									ABOUT THE GRANT
								</a>
									
							</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.hero-subheader -->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="content">
							
							<h2 id="apply">Apply for a grant</h2>
							<p>Applications are accepted on a rolling basis. At least one £500 grant is awarded every three months, for a total of three grants, acording to the following schedule.</p>

							<p>
								<ul>
									<li>30th September 2018 - Applications now open</li>
									<li>31st December 2018</li>
									<li>31st March 2019</li>
								</ul>
							</p>

							<p>Additional grats may become available thanks to <a href="#sponsor">other sponsors</a>. If so, they'll be awarded according to the same schedule.</p>

							<h2 id="sponsor">Sponsor a grant</h2>
							<p>If you'd like to sponsor a grant, here's how it works:</p>

							<p>
								<ul>
									<li>You must sponser the full amount (£500)</li>
									<li>We can either select a receipient on your behalf, or share the applications with you. If you choose the latter, we will only share applications <i>after</i> receiving your sponsorship (to protect applicants' privacy)</li>
									<li>To keep grants running smoothly, We will ask that funds are disbursed through us. Your grant will be awarded according o the scheule above, along with the other recipients</li>
								</ul>
							</p>

							<h2 id="sponsor">FAQ</h2>
							
							<h4>Is this real?</h4>
							<p>Yes! At <a href="https://www.aecre.co.uk" target="_blank">Aecre</a> rather than keeping our profits for ourselves, we'd rather share them with those who would put it to a good use on exciting projects they're passionate about that would benefit our environment. This grant scheme was inspired by <a href="https://www.heliumgrant.org/" target="_blank" rel="nofollow">Helium Grant</a></p>

							<h4>What type of proposals do you fund?<h4>

							<h4>When you say "no strings attached", what does that mean?<h4>
							
							<h4>Can anybody apply?</h4>

							<h4>How will I receive the money></h4>	

							<h4>I'm outside of the UK, can I apply?</h4>
							<p>At the moment, we can only accept proposals for projects within the UK. We hope to open this up further afield in the future, sign up to our mailing list below for updates.</p>

							<h4>I have a question about appling for a grant. How can I get in touch?</h4>
							<p>Email us on <a href="mailto:grants@aecre.co.uk">grants@aecre.co.uk</a>

							<h4>How can I get updated on this project?</h4>
							<p>Sign up below. We'll email infrequently with updates on projects we've given grants too, and when new funding cycles are annouced.
							<!-- Begin MailChimp Signup Form -->
							<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
							<style type="text/css">
								#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
								/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
								   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
							</style>
							<div id="mc_embed_signup">
							<form action="https://aecre.us18.list-manage.com/subscribe/post?u=0fee906a32fee15cbcf0e46d8&amp;id=4e1f751a1d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							    <div id="mc_embed_signup_scroll">
								
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address </label>
								<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0fee906a32fee15cbcf0e46d8_4e1f751a1d" tabindex="-1" value=""></div>
							    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
							    </div>
							</form>
							</div>
							<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
							<!--End mc_embed_signup-->
							</p>


						</div><!-- /.content -->
					</div><!-- /.col -->
					<div class="col-md-4 col-md-offset-1">
						<div class="sections-list-wrapper">
							<div class="sections-list js-sections js-affix js-scrollspy hidden-xs hidden-sm"></div><!-- /.sections-list -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.section -->
			
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					
						<a href="/blue/" class="site-footer__logo">Aecre</a>
					
					
						<hr>
						<p class="site-footer__copyright">Copyright &copy; 2018. - Aecre Ltd. <br>All rights reserved.</p>
					
				</div><!-- /.col -->
				
					<div class="col-sm-6 align-right">
						<ul class="social-list">
							
								<li>
									<a href="https://twitter.com/themejack" target="_blank" class="social-list__item social-list__item--twitter">
										Twitter
									</a>
								</li>
							
								<li>
									<a href="https://github.com/themejack" target="_blank" class="social-list__item social-list__item--github">
										Facebook
									</a>
								</li>

								<li>
									<a href="https://github.com/themejack" target="_blank" class="social-list__item social-list__item--github">
										Instagram
									</a>
								</li>
							
						</ul><!-- /.social-list -->
					</div><!-- /.col -->
				
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer><!-- /.site-footer -->

		</div><!-- /.js-footer-area -->
	</body>


</html>